<!-- Example in NavbarComponent template -->
<nav class="bg-black p-4">
    <div class="container mx-auto flex justify-between items-center">
      <a class="text-white text-lg " routerLink="/">MovieSeriesTV</a>
      <div class="hidden md:flex space-x-4">
        <a class="text-gray-300 hover:text-white" routerLink="/">Home</a>
        <a class="text-gray-300 hover:text-white" routerLink="/movies">Movies</a>
        <a class="text-gray-300 hover:text-white" routerLink="/series">Favorites</a>
      </div>
      <div class="md:hidden">
        <button class="text-gray-300 hover:text-white">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </nav>
  