<!-- favorites.component.html -->

<div class="bg-black text-white">
    <div class="container mx-auto px-4 pt-8">
  
        <div class="mb-8">
            <h1 class="text-4xl font-semibold">
                Favorite Movies
            </h1>
        </div>
  
        <div *ngIf="favoriteMovies.length > 0" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
            <div *ngFor="let movie of favoriteMovies" class="relative">
                <!-- Adjusted movie card -->
                <div class="bg-gray-800 rounded-lg overflow-hidden shadow-md relative">
  
                    <!-- Movie poster image with shadow -->
                    <div class="relative">
                        <a [routerLink]="['/movies', movie.idFilm]">
                            <img class="w-full h-48 object-cover rounded-t-lg shadow-lg cursor-pointer"
                                [src]="getMovieImage(movie)" [alt]="movie?.titre + ' poster'">
                        </a>
  
                        <!-- Overlay for movie info -->
                        <div
                            class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 opacity-0 hover:opacity-100 transition-opacity duration-300">
                            <div class="p-6 text-center text-white">
                                <a [routerLink]="['/movies', movie.idFilm]">
                                    <h3 class="font-semibold text-xl mb-2">{{ movie.titre }}</h3>
                                </a>
                                <p class="text-gray-300">
                                    {{ movie.dateSortie | date }}
                                </p>
                            </div>
                        </div>
                    </div>
  
                    <!-- Remove button at bottom center -->
                    <div class="absolute bottom-0 inset-x-0 flex justify-center pb-2">
                        <button (click)="removeFromFavorites(movie)"
                            class="flex items-center space-x-1 px-2 py-1 bg-red-400 text-white rounded-lg shadow-md hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-red-600">
                            <span class="text-xs">Remove</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
  
        <div *ngIf="favoriteMovies.length === 0" class="text-center mt-8">
            <p>No favorite movies added yet.</p>
        </div>
  
        <div *ngIf="showNotification"
            class="fixed bottom-4 right-4 bg-green-500 text-white px-4 py-2 rounded shadow-lg transition-opacity duration-300">
            {{ notificationMessage }}
        </div>
    </div>
</div>
